@import "tailwindcss";

.logo-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
